* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: #303030;
    color: #ffffff;
}

/*NAVIGATION*/
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > p {
    color: #ffffff;
    font-size: 130%;
    padding: 23px 20px;
    text-transform: capitalize;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > p:hover {
    color: #ffffff;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    background-color:#000000;
    transition: 0.5s;
}

.dropdown-menu {padding: 0px;}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: #418fc9;
    color: #ffffff;
}

.navbar-nav > li > .dropdown-menu {background-color: #418fc9;}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {background-color: none;}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
    text-transform: capitalize;
}

.navbar-default .navbar-brand {
    color: #ffffff;
    margin: 10px 30px;
}

.navbar-default .navbar-brand:hover {color: #ffffff;}

.navbar-default {
    background-color: #418fc9;
    border: none;
}

#menu {background-color: #418fc9;}

.btn-search {
    background-color: #ffffff;
    color: #000000;
    border-radius: initial;
    width: 130px;
    margin: 2px 0px;
}
.navbar-toggle {
    margin: -55px 30px;
}

.navbar-right {
    margin: 0px 30px;
}
.search {
    display: block;
    width: 600px;
    padding: 15px 40px;
}

.search .input-form {
    border-radius: 5px;
    width: 420px;
    height: 40px;
    background: none;
    border: solid 1px #ffffff;
    padding: 0px 20px;
    color: #ffffff;
}

.search .input-form:focus {
    background-color: #ffffff;
    color: #000000;
    transition:0.5s;
}

.container-fluid {
    margin-top: 70px;
    min-height: 622px;
    padding: 30px 60px;
    text-transform: capitalize;
}

.container-fluid .thumbnail {
    background-color: none;
}

.container-fluid .kategori {
    color: #ffffff;
    font-style: italic;
}

.container-fluid .nav-pills {
    margin: 40px 0px;
}

embed {
    width: 1000px;
    height: 500px;
    margin: 0px 100px;
}

.container-fluid #review {
    padding: 40px 0px;
}

.container-fluid #review form {
    width: 800px;
    margin: 40px auto;
}

.container-fluid #review textarea {resize: vertical;}

.container-fluid #review button {
    margin: 20px 300px;
    width: 200px;
}
/*SMARTPHONE*/  
@media only screen and (max-width:767px) {
    .navbar-right {margin: 0px;}
    
    .search {
        width: 100%;
        min-height: 100px;
        padding: 10px 0px;
    }
    .search .input-form {width: 290px;}
    
    .search button {
        width: 290px;
        margin: 20px 0px;
    }
    
    .fa-bars {color: #ffffff;}
    
    .container-fluid {
        padding: 40px 30px !important;
        overflow-x: hidden;
    }
    .container-fluid .thumbnail {
        padding: 0px;
    }
    
    #trailer embed {
        margin: 0px;
        height: 200px;
    }
    
    #trailer embed {
        width: 100%;
    }
}