* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    text-transform: capitalize;
}

/*NAVIGATION*/
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > p {
    color: #ffffff;
    font-size: 130%;
    padding: 23px 20px;
    text-transform: capitalize;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > p:hover {
    color: #ffffff;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    background-color:#000000;
    transition: 0.5s;
}

.dropdown-menu {padding: 0px;}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: #418fc9;
    color: #ffffff;
}

.navbar-nav > li > .dropdown-menu {background-color: #418fc9;}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {background-color: none;}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
    text-transform: capitalize;
}

.navbar-default .navbar-brand {
    color: #ffffff;
    margin: 10px 30px;
}

.navbar-default .navbar-brand:hover {color: #ffffff;}

.navbar-default {
    background-color: #418fc9;
    border: none;
}

#menu {background-color: #418fc9;}

.btn-search {
    background-color: #ffffff;
    color: #000000;
    border-radius: initial;
    width: 130px;
    margin: 2px 0px;
}
.navbar-toggle {
    margin: -55px 30px;
}

.navbar-right {
    margin: 0px 30px;
}

.container-fluid {
    margin-top:60px;
    padding: 40px 30px;
}

ul li a {
    color: #000000;
}

.menu {
    background-color: #ffffff;
    padding: 30px;
} 

.tab-content {
    width: 100%;
    min-height: 370px;
    margin: 0px 0px;
    text-transform: capitalize;
}

#topup {
    background-color: #ffffff;
    width: 100%;
    height: auto;
    padding: 40px;
    margin: 80px 0px;
}

#topup .form-control {
    height: 50px;
    font-size: 130%;
}

#topup button {
    margin: 25px 0px;
    width: 200px;
    height: 45px;
    border-radius: 0px;
}

#promosi {
    padding: 20px 250px;
}

#promosi label {margin: 10px 0px;}

#promosi textarea {
    resize: vertical;
}

#promosi button {
    margin: 20px 300px;
    width: 200px;
}

/*SMARTPHONE*/  
@media only screen and (max-width:767px) {
    .navbar-right {margin: 0px;}
    
    .fa-bars {color: #ffffff;}
    
    label {margin: 10px 0px;}
    
    #topup button {margin: 20px -8px;}
}